{namespace v=FluidTYPO3\Vhs\ViewHelpers}

<f:layout name="Backend" />

<f:section name="ButtonsLeft">

</f:section>

<f:section name="FunctionsLeft">
	{csh -> f:format.raw()}
</f:section>

<f:section name="Content">
	<f:render section="{view}" arguments="{_all}" />
	<v:render.template file="EXT:builder/Resources/Private/Partials/Receipt.html" variables="{attributes: attributes}" format="html" />
</f:section>


<f:section name="buildSite">
	<div class="alert alert-success" role="alert">{output}</div>
</f:section>
